.button {
  font-weight: bold;
  font-size: 1.4rem;
  border: none;
  padding: 1rem 2.4rem;
  cursor: pointer;
  background: #e20074;
  color: #fff;
  margin-left: 1rem;
}

.button--inverse {
  background: #fff;
  color: #e20074;
}

.button:disabled {
  background: #454c5e;
}
