.secrets-form {
  background: #2a2e3e;
  padding: 6rem;
  margin: auto;
  width: 45%;
}
.secrets-form__heading {
  margin-bottom: 5rem;
}

.secrets-form__button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
}

@media screen and (max-width: 1000px) {
  .secrets-form {
    width: 80%;
  }
}

@media screen and (max-width: 424px) {
  .secrets-form {
    width: 95%;
    padding: 1rem;
  }
}
