.modal {
  position: fixed;
  z-index: 2;
  padding: 5.5rem 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
}

.modal--hidden {
  display: none;
}

.form {
  background: #2a2e3e;
  padding: 6rem;
  margin: auto;
  width: 45%;
}

@media screen and (max-width: 1000px) {
  .form {
    width: 80%;
  }
}

@media screen and (max-width: 424px) {
  .form {
    width: 95%;
    padding: 1rem;
  }
}
