.all-safes {
  background: #151820;
  position: relative;
}

.all-safes__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: solid 0.1rem #2a2e3e;
}

.all-safes__count {
  font-weight: normal;
  color: #5e627c;
}

.all-safes__list {
  min-height: calc(100% - 5.1rem);
  height: 0;
  overflow: auto;
}

.all-safes__not-found {
  text-align: center;
  color: #5e627c;
  font-size: 1.8rem;
  margin-top: 2rem;
}

.all-safes__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-safes__image {
  background-image: url("../../../assets/images/safe.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 26rem;
  height: 22rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.all-safes__caption {
  position: absolute;
  bottom: 2.7rem;
  font-size: 1.2rem;
}

.all-safes__add-button {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
}

.all-safes__empty--not .all-safes__add-button {
  position: absolute;
  bottom: 2.5rem;
  right: 3rem;
}

@media screen and (max-width: 424px) {
  .all-safes__header {
    flex-direction: column;
    align-items: stretch;
  }

  .all-safes__heading {
    margin-bottom: 1rem;
  }

  .all-safes__list {
    min-height: calc(100% - 8.42rem);
  }
}
