* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 57%;
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 1900px) {
  html {
    font-size: 70%;
  }
}

@media screen and (min-width: 2200px) {
  html {
    font-size: 80%;
  }
}

@media screen and (min-width: 2900px) {
  html {
    font-size: 110%;
  }
}

@media screen and (min-width: 4000px) {
  html {
    font-size: 150%;
  }
}

@media screen and (min-width: 6000px) {
  html {
    font-size: 200%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4rem;
  color: #fff;
}

h1 {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.3rem;
}

h2,
h3 {
  font-weight: bold;
}

/* Main */

.container {
  background: linear-gradient(to top, #2f3545, #1d212c);
  height: calc(100vh - 7rem);
  overflow: auto;
  padding: 5.4rem 19rem;
}

@media screen and (min-width: 901px) and (max-width: 1150px) {
  .container {
    padding: 5.4rem;
  }
}

@media screen and (max-width: 945px) {
  .container {
    padding: 3rem;
  }
}

@media screen and (max-width: 424px) {
  .container {
    padding: 3rem 1rem 1rem 1rem;
  }
}

/* List */

.list {
  list-style: none;
}

.list__item::after {
  content: "";
  display: block;
  border-bottom: 0.1rem solid rgba(42, 46, 62, 0.5);
}

.list__item--margin::after {
  margin: 0 2.5rem;
}
