* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 56%;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4rem;
  color: #fff;
}

h1 {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.3rem;
}

h2,
h3 {
  font-weight: bold;
}

/* Main */

.container {
  background: linear-gradient(to top, #2f3545, #1d212c);
  height: calc(100vh - 7rem);
  overflow: auto;
}

/* Line */

.hl {
  height: 0.1rem;
  background: #2a2e3e;
}

.hl-1 {
  height: 0.3rem;
  background-color: #222632;
}

/* List */

.list {
  list-style: none;
}

.list__item::after {
  content: "";
  display: block;
  border-bottom: 0.1rem solid rgba(42, 46, 62, 0.5);
  margin: 0 2.5rem;
}
