.nav {
  background: #151820;
  box-shadow: 0 0.5rem 2.5rem 0 rgba(226, 0, 116, 0.5);
  font-size: 1.3rem;
  min-height: 7rem;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
  padding: 1rem;
}

.nav__toggle {
  color: #fff;
  cursor: pointer;
}

.nav__logo > img {
  width: 16.3rem;
  height: 3.3rem;
}

.nav__list {
  width: 100%;
}

.nav__list--collapsed {
  max-height: 0;
  overflow: hidden;
}

.nav__item {
  padding: 1rem 2rem;
  font-size: 2rem;
  margin: 0 -1rem;
}

.nav__item:hover {
  background: linear-gradient(to top, #72134b, #1d212c);
}

.nav__item--selected {
  background: linear-gradient(to top, #72134b, #1d212c);
}

.nav__item > a {
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 780px) {
  .nav {
    padding: 0 3rem;
    justify-content: stretch;
  }

  .nav__logo {
    margin-right: 5rem;
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    max-height: 100%;
  }

  .nav__item {
    font-size: 1.3rem;
    margin: 0;
    padding: 0rem 1rem;
  }

  .nav__item > a {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav__end {
    margin-left: auto;
    display: block;
  }

  .nav__end__item {
    margin-left: 2rem;
  }

  .nav__end__icon {
    margin-right: 0.5rem;
  }
}

@media screen and (min-width: 945px) and (max-width: 1150px) {
  .nav {
    padding: 0 5.4rem;
  }
}

@media screen and (min-width: 1151px) {
  .nav {
    padding: 0 19rem;
  }
}

@media screen and (max-width: 1300px) {
  .nav__end {
    display: none;
  }
}
